body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

}
